@charset "utf-8";

/* CSS Document */


/* CSS reset to #D0021Buce inconsistencies across browsers */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background: #D0021B; overflow: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

a:hover {
  color: #D0021B;
}

html {
  /* margin: 0 10%;*/
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  background: #D0021B;
}

::selection {
  background: #D0021B;
color: #fff;
}
/*
- - - - - - - -- - --
Other sheet Mergerd
- - - - - - - -- - --

*/
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}


.pupil-text {
  text-align: center;

  color: #d0021b;
}
.slide-fade-enter-active {
  transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10vh)  ;
transform-origin:  100% 30vh;
}

.top-pad{
  padding-top: 65px;
}

/* - - - - - - - - */





html {
  color: #4a4a4a;
  background: #d0021b;
}

main{
  overflow: hidden;
}

.Lesson-list-item {
  /*width: 100%;*/
  border-left: 10px solid #4a4a4a;
  margin-bottom: 15px;
  height: 75px;
  justify-content: space-between ;
  /*   border: 1px black solid; */
  background: #fff;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #4a4a4a;
}

.Lesson-list-item:hover{
  box-shadow: 10px 10px #2AFC98;

  border-color:#2DE1FC ;
}
.Lesson-list-item:hover .pupil-text{

  text-align: center;
  font-size: 2.75vh;
  color: #d0021b;
}
.Lesson-list-item:hover .profileImage{
  filter: invert(10%)
}



.btn-base, .blog-base{
  box-sizing:border-box;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 2px #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.blog-base{
  /*width:40%;*/
  border: #BDBDBD 1px solid;
  margin-bottom: 10px;
  /*height: 100px;*/
  width: 100%;
  justify-content: flex-start;
  padding: 5px 10px;
  align-content: flex-start;
  text-align: left;
}


.btn-base:hover{
  box-shadow: 5px 10px #2AFC98;
  color:#4a4a4a;
  background:#fff;
  border-color:#2DE1FC;
  border-bottom: 15px solid #2DE1FC;
}

.button1, .button2 {
  width: 50%;
  height:100%;
  border: #d0021b 2px solid;
  color: #d0021b;
  padding-top: 0;
  background: #fff;
}


.button2 {
  background: #d0021b;
  color: white;
}

.button3 {
  height: 150px;
  margin: 0 5px 30px;
  padding-top: 15px;
  width: 30%;
  min-width: 150px;
  color: #d0021b;
  border: #BDBDBD 1px solid;
  border-bottom:10px #d0021b solid;

}


.btn-clear, .btn-submit {
  height: 50px;
  margin: 0 2px;
  padding:0 20px;
  /*width: 150px;*/
  color: #d0021b;
  border: #BDBDBD 1px solid;
  border-bottom:10px #d0021b solid;

}

.btn-submit{
  border-color: #d0021b;
  color: #fff;
  background: #d0021b;
}

.button-container {
  width: 25%;
  max-width: 150px;
}


.text-container {
  /*justify-content: center;*/
  /*text-align: center;*/
  min-width: 200px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;

}



input[type=text]:hover,input[type=tel]:hover,  .blog-base:hover, textarea:hover{
  box-shadow: 5px 10px #2AFC98;
  color:#4a4a4a;
  background:#fff;
  border-color:#2DE1FC;

}




.error-text{
  margin-left:10px;
  color: #d0021b;
}



.blog-headline {
  padding: 1rem;
  margin-bottom: 5px;

}


/* - - - - - - - */
.tab-layout-container {
  display: flex;
  flex-direction: row;
  flexwrap: wrap;
  width: 100%;

  box-sizing: border-box;
}

.tab-layout-small,
.tab-layout-large {
  box-sizing: border-box;
  /*background: white;*/
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.tab-layout-small {
  width: 40%;

}

.tab-layout-large {
  width: 50%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ee964b;
  margin: 15px auto;
  overflow: hidden;
  background: #f4d35e;
  box-shadow: 3px 3px 1px red;
}


/*  - - - - - - - -
    Validation colors
    - - - - - - - -
*/

.form-group.invalid label {
  color: red;
}

.form-group.invalid input {
  border: 1px solid red;
  background-color: #ffc9aa;
}
.btn-view {
  width: 100%;
}


/*
-----------------------------
text styles
-----------------------------
*/


/*
Montserrat
font-family: 'Montserrat', sans-serif;
font-weight: 200;

Raleway
font-family: 'Lato', sans-serif;
font-weight: 300;

*/

.large {
  margin: 1rem;
}

.smaller {
  margin: 1rem;
}

.txt-highlight {
  color: #D0021B;
}

.center {
  text-align: center;
}



/*
-----------------------------
flex classes - used as override
-----------------------------
*/

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*width: 100%;*/
}
.column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.no-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}


/*
-----------------------------
main navigation bar
-----------------------------
*/

.top-navBar {
  width: 45%;
  height: 20vh;
  padding: 10px 15px 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 10000;
}

.top-navBar a {
  color:#C1A886;
}

.top-navBar__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-navBar__li {

  line-height: 1.75rem;
}



.top-navBar__a:hover {
  color: RGBA(135, 163, 34, 1.00);
  text-decoration: underline;
}

.responsiveMenu {
  display: none;
}

.top-navBar-responsive {
  display: none;
}

/*



*/

.title{
  color:#4a4a4a;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 1.8rem;
}

.splash_title:hover{
  color:#4B4E49;
}

.mainView {
  /* background: rgba(155, 155, 155, 0.1); */
  box-sizing: border-box;
  transform-origin: 	0 0;
}

.main_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;


  width: 100%;
  height: 10vh;
  color: #4B4E49;

  position: fixed;
  top: 0;
  right: 0

}

.main_header_txt{
  padding: 30px;
  background: #343a40;
  height: 10vh;
  box-sizing: border-box;
  font-size: 1.5rem;
}



.splash_header{
  margin-top: 10vh;
  width: 100%;
  height: 20vh;
  background: #fff;
  padding: 15px 30px ;
  /* text-align: center; */
  line-height: 2rem;
}

.pageSection_20{
  width: 15vw;
  overflow: hidden;
  height: 75vh;
  /* border: 10px solid #fff; */
  transition: 0.2s all linear;
  flex-grow: 0.5;
  background: #FF8071;
  color:#fff;
}

.pageSection_20 a{
  color: #fff;
}


.pageSection_20:hover  img{
  filter: grayscale(0);

}

.pageSection_20:hover {

  background: #FFC76C;



}

.pageSection_20:hover{

  color: #4B4E49;


}


.pageSection_20 img{
  height: 75%;
  filter: grayscale(80%);
  margin-left: -30%;
}

.pageSection_60 {
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  object-fit: cover;
  box-sizing: border-box;
  background: #BDBDBD;
}

.pageSection_60 img {
  height: 70vh;
  z-index: 5;
}

.pageSection_40 {
  /*margin-top: 10vh;*/
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #fff;
  perspective: 1000px
}

.images40_header {
  /* margin-top: 10vh; */
  padding: 25px 15px;
  width: 100%;
  height: 10vh;
  overflow: hidden;
  box-sizing: border-box;
  background: #343a40;
  /* margin-left: -25%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
font-size: 1.5rem;
}

.images40_mainText_container{
  padding: 15px ;
  height: 50vh;
  overflow: auto;
  box-sizing: border-box;
  /*background: RGBA(114, 114, 114, 0.05);*/
  /*margin-left: 10% ;*/
}


.title_large {

  /*font-family: 'Space Mono', monospace;*/
  color: #fff;
}


.page_title{
  position: absolute;
  bottom: 0;
  left: 0;
  color:#FF8071;
  background: #fff;
  padding: 0.5rem 3rem 1.5rem 3rem;
}

.output{
  padding: 0.5rem 0;
}

.active{
  color: #FFf;
}

.active a{
  color: #fff;
}

.btn_nextSection{
  height: 10vh;
  background: #d0021b;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:  flex-end;
  padding: 15px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.width30{
  width: 20%;
  /*background: RGBA(165, 137, 96, 1.00);*/

  /*background: #d0021b;*/
  align-items:  center;
  justify-content: center;
  color: white;
}

.width30 a{
  color: white;
}


.width70{
  width: 80%;
}


/*  - - - - - - - */

.availabilityDays {
  padding: 15px 10px;
}

.profileImage, .pupil-text {
  padding-top: 15px;
  font-size: 2.75vh;
  color: #d0021b;
  min-width: 150px;

}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


