ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}


.pupil-text {
  text-align: center;
  font-size: 2.75vh;
  color: #d0021b;
}
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(100px) ;
  /*opacity: 0;*/
}

.top-pad{
  padding-top: 65px;
}

/* - - - - - - - - */

html {
  color: #4a4a4a;
}

h5 {
  margin: 0;
}

.Lesson-list-item {
  /*width: 100%;*/
  border-left: 10px solid #4a4a4a;
  margin-bottom: 15px;
  height: 75px;
  justify-content: space-between ;
  /*   border: 1px black solid; */
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #4a4a4a;
}

.Lesson-list-item:hover{
  box-shadow: 10px 10px #2AFC98;

  border-color:#2DE1FC ;
}
.Lesson-list-item:hover .pupil-text{
  color: #4a4a4a;
}
.Lesson-list-item:hover .profileImage{
  filter: invert(10%)
}

.profileImage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /*   color: #fff;
  background: #D0021B; */
  width: 100%;
  height: 100%;
  /*   min-height: 100px; */
  /*min-width: 75px;*/
  overflow: hidden;
  /*   border-radius: 50%; */


}
.profileImage h1{
  padding-left: 10px;
}

.btn-base, .blog-base{
  box-sizing:border-box;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 2px #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.blog-base{
  justify-content: start;
  padding: 5px 10px;
  align-content: start;
  text-align: left;
}

.btn-base:hover{
  box-shadow: 5px 10px #2AFC98;
  color:#4a4a4a;
  background:#fff;
  border-color:#2DE1FC;
  border-bottom: 15px solid #2DE1FC;
}

.button1, .button2 {
  width: 50%;
  height:100%;
  border: #d0021b 2px solid;
  color: #d0021b;
  padding-top: 0;
  background: #fff;
}


.button2 {
  background: #d0021b;
  color: white;
}

.button3 {
  height: 150px;
  margin: 0 5px 30px;
  padding-top: 15px;
  width: 30%;
  min-width: 150px;
  color: #d0021b;
  border: #BDBDBD 1px solid;
  border-bottom:10px #d0021b solid;

}
.button3:hover{
  /*border-radius: 25px;*/
}

.btn-clear, .btn-submit {
  height: 50px;
  margin: 0 2px;
  padding:0 20px;
  /*width: 150px;*/
  color: #d0021b;
  border: #BDBDBD 1px solid;
  border-bottom:10px #d0021b solid;

}

.btn-submit{
  border-color: #d0021b;
  color: #fff;
  background: #d0021b;
}

.button-container {
  width: 25%;
  max-width: 150px;
}




.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;

}



input[type=text]:hover,input[type=tel]:hover,  .blog-base:hover, textarea:hover{
  box-shadow: 5px 10px #2AFC98;
  color:#4a4a4a;
  background:#fff;
  border-color:#2DE1FC;

}

.blog-base{
  /*width:40%;*/
  border: #BDBDBD 1px solid;
  margin-bottom: 10px;
  /*height: 100px;*/
  width: 100%;
}
.blog-base:hover{
  color: #d0021b

}

.error-text{
  margin-left:10px;
  color: #d0021b;
  font-size: 1.2rem
}

.pageHeaderImage {
  width: 100%;
  height: 400px;
  background: grey;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/Clydeside1.jpg");
}


.page-wrapper {
  background: #fff;
  transform: translateY(-90px);
  box-shadow: 1px 1px 2px #4a4a4a;
  min-height: 60vh;
  padding-bottom: 60px;
}

.blog-headline {

  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 5px;

}


/* - - - - - - - */
.tab-layout-container {
  display: flex;
  flex-direction: row;
  flexwrap: wrap;
  width: 100%;

  box-sizing: border-box;
}

.tab-layout-small,
.tab-layout-large {
  box-sizing: border-box;
  /*background: white;*/
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.tab-layout-small {
  width: 40%;

}

.tab-layout-large {
  width: 50%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ee964b;
  margin: 15px auto;
  overflow: hidden;
  background: #f4d35e;
  box-shadow: 3px 3px 1px red;
}



table {
  width: 400px;
  margin: 0 auto;
  background: white;
  border-collapse: collapse;
}

th {
  background: #19647e;
  color: white;
}

td,
th {
  text-align: center;
  padding: 10px 0;
}

.customer-name {



}
.highlight {
  color: #d0021b;
}
.text-left {
  padding: 10px;
  text-align: left;
}


/*  - - - - - - - -
    Validation colors
    - - - - - - - -
*/

.form-group.invalid label {
  color: red;
}

.form-group.invalid input {
  border: 1px solid red;
  background-color: #ffc9aa;
}
.btn-view {
  width: 100%;
}
